
body{
    color: #e7e7d1;
    background-color: #0a080b;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

h1, h2, h3{
color: #c2bd98;
}

a{
color: #c2bd98;
text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #cac3a5;
}

.center{
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
    
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.container{
    padding: 0px 50px;
}

a:hover{
    color: #e7e7d1;
}